#logo{
	position:relative;
	float:left;
	padding-bottom: 25px;
	padding-left:120px;
}
li{
	list-style:none;
	margin-right: 25px;
	padding-top: 10px;
}
#caja1{
	position:relative;
	float:right;
	padding-right:120px;
	text-transform:uppercase;
	font-family:sans-serif;
}
#caja2{
	position:relative;
	float:right;
	padding-right:20px;
	text-transform:uppercase;
	font-family:sans-serif;
}
#banner1{
	height:500px;
	width:100%;
	position:relative;
}
#searchbox{
	text-align:center;
	position:relative;
	top:-30px;
}
#submit{
	color:white;
	background-color:blue;
}
#bloques1 div{
	width:19%;
	display:inline-block;
	text-align:center;
	margin:30px;
}
#centrada{
	text-align:center;
	margin-left:350px;
	margin-right:350px;
}
#phone{
	text-align:center;
}
.div1{
	display:inline-block;
	width:20%;
	margin:30px;
	text-align:right;
}
.div1 img{
	display:inline-block;
	float:right;
	margin-left: 30px;
}
#div2{
	display:inline-block;
	vertical-align:top;
	padding-top: 50px;
}
.div3{
	display:inline-block;
	width:20%;
	margin:30px;
	text-align:left;
}
.div3 img{
	display:inline-block;
	float:left;
	margin-right: 30px;
}
#banner2{
	width:100%;
}
#prefoot{
	text-align:center;
	margin-left:350px;
	margin-right:350px;
}
.precio div{
	width:19%;
	display:inline-block;
	text-align:center;
	margin:30px;
	border-style: solid;
	border-color: gray;
	padding-bottom: 25px;
}
#hosting{
	background-color: #2A394C;
	color:white;
	text-align:center;
	padding:30px;
}
footer{
	background-color: black;
	color:white;
}
footer nav{
	display:inline-block;
}